@import './_variable.scss';
// 浮动
.right{
	float: right;
}

.left{
	float: left;
}

.center{
	margin: 0 auto;
	float: none;
}

// 清除浮动
.clear-both{
	clear: both;
	height:1px;
	margin-top:-1px;
	overflow:hidden;
	&:before{
		display:none;
	}
	&:after{
		display:none;
	}
}

.border-box{
	@include box-sizing(border-box);
}

.content-wrap{
	@include box-sizing(content-wrap);
}

.block_area{
	margin: 0 auto;
	position: relative;
	font-size: 14px;
}

// inline-block对齐  或者文本对齐
.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}

.text-bold{
	font-weight:bold;
}

.activeB{
	display: block;
}

.activeF{
	display: flex;
}

.activeN{
	display:none;
}

.clickfull{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		bottom: -5px;
		right: -5px;
	}
}


@for $i from 0 through 30 {
	.padding-top-#{$i}{
		padding-top: $i * 1px;
	}
	.padding-left-#{$i}{
		padding-left: $i * 1px;
	}
	.padding-right-#{$i}{
		padding-right: $i * 1px;
	}
	.padding-bottom-#{$i}{
		padding-bottom: $i * 1px;
	}
	.padding-#{$i}{
		padding: $i * 1px;
	}

	//--------------------

	.margin-top-#{$i}{
		margin-top: $i * 1px;
	}
	.margin-left-#{$i}{
		margin-left: $i * 1px;
	}
	.margin-right-#{$i}{
		margin-right: $i * 1px;
	}
	.margin-bottom-#{$i}{
		margin-bottom: $i * 1px;
	}
	.margin-#{$i}{
		padding: $i * 1px;
	}


	// -------------------

	.text-indent-#{$i}{
		text-indent: $i * 1px;
	}

	.border-r-#{$i}{
		@include border-radius($i * 1px)
	}

	.m-padding-top-#{$i}{
		padding-top: px75rem($i);
	}
	.m-padding-left-#{$i}{
		padding-left: px75rem($i);
	}
	.m-padding-right-#{$i}{
		padding-right: px75rem($i);
	}
	.m-padding-bottom-#{$i}{
		padding-bottom: px75rem($i);
	}
	.m-padding-#{$i}{
		padding: px75rem($i);
	}

	//--------------------

	.m-margin-top-#{$i}{
		margin-top: px75rem($i);
	}
	.m-margin-left-#{$i}{
		margin-left: px75rem($i);
	}
	.m-margin-right-#{$i}{
		margin-right: px75rem($i);
	}
	.m-margin-bottom-#{$i}{
		margin-bottom: px75rem($i);
	}
	.m-margin-#{$i}{
		padding: px75rem($i);
	}


	// -------------------

	.m-text-indent-#{$i}{
		text-indent: px75rem($i);
	}

	.m-border-r-#{$i}{
		@include border-radius(px75rem($i))
	}
}

@for $i from 10 through 50 {
	@if ($i % 2 == 0) {
		.m-size-#{$i}{
			font-size: px75rem($i);
		}
	}
}
