$text_color_default: #aaa;

// 文字颜色
$color_primary: #0099FF;
$color_primary_deep: #0033FF;

$color_danger: #FF0066;
$color_danger_deep: #CC3366;

$color_warning: #FFCC66;
$color_warning_deep: #FFCC33;

$color_success: #33CC99;
$color_success_deep: #339966;

$color_auto: #ffffff;
$color_default: #f1f1f1;
$color_split: #D8D8D8;

// 字体
$font-auto: Arial,"Helvetica Neue",Helvetica,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;

// 文字颜色
// 标题和重要内容颜色
$text_main: #444444;

// 比text_main 稍微低一点的颜色
$text_main_s: #666666;

// 比text_auto 一般低一点的颜色
$text_main_l: #888888;

// 比text_auto 大于一般低的颜色
$text_main_m: #999999;

// 比text_auto 最低的颜色
$text_main_x: #a1a1a1;

// 浅白色
$text_auto_s: #d8d8d8;

// 白色
$text_auto: #ffffff;

// 通常用于无法选中点击的效果
$text_default: #e1e1e1;

// 主色调颜色
$text_primary: #2EB253;

// 警告提示文字颜色
$text_danger: #2EB253;

// 错误提示文字颜色
$text_warning: #2EB253;

// 成功的文字颜色
$text_success: #2EB253;

