@import './../../../static/font-icon/style.css';
@import './_index.scss';
@import './common/_input.scss';

// 底部高度
$bottom_nav_h: px75rem(88);

// 颜色
$m_color_primary: #D82A36;
$m_active_color: #D82A36;


$m_text_color: #fff;

$m_text_gray_l: #525252;
$m_text_gray_m: #9A9A9A;
$m_text_gray_s: #a1a1a1;

// 各部分重要css变量
$searchhead_h: px75rem(80);



// hr
@include hr ($m_text_gray_s, 'gray');