@import './variables.scss';
// 多少行限制超出省略
// 整个元素的高度， 行数
@mixin lineclamp($height, $count) {
	height: $height;
	line-height: $height / $count;
	@include els();
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp: $count;
}

// fixed布局铺面全屏
@mixin fixedfull() {
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

// 单行省略
@mixin els {
  overflow:hidden;
  text-overflow:ellipsis;
  word-wrap: break-word;
}

// amfe-flexible 定义宽度10rem是整个屏幕的宽度，是按照750 / 7.5算的，p2r是一种以宽度为7.5rem计算的方式
// 虽然实际上会被转换，但是在编写和计算宽度的时候很方便
@function p2r($rem) {
  @return $rem / 7.5 * 10
}
