a{
  text-decoration: none;
  color: $text_color;
  &:hover, &:active, &:link{
    color: $text_color;
  }
}

// 让按钮更舒服的点击
.easy-click{
  position: relative;
  &::after{
    position: absolute;
    content: '';
    top: - p2r(0.2rem);
    left: - p2r(0.2rem);
    right: - p2r(0.2rem);
    bottom: - p2r(0.2rem);
  }
}

body {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

::-webkit-input-placeholder {
  color: $placeholder_color;
}
:-moz-placeholder {
  color: $placeholder_color;
}
::-moz-placeholder {
  color: $placeholder_color;
}
:-ms-input-placeholder {
  color: $placeholder_color;
}