a{
  text-decoration: none;
  color: $text_color;
  &:hover, &:active, &:link{
    color: $text_color;
  }
}

body {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

::-webkit-input-placeholder {
  color: $placeholder_color;
}
:-moz-placeholder {
  color: $placeholder_color;
}
::-moz-placeholder {
  color: $placeholder_color;
}
:-ms-input-placeholder {
  color: $placeholder_color;
}