$text_color: #2c3e50;

// $primary_color: rgb(203, 39, 40);

$primary_color: rgb(203, 40, 41);

// 浅色主色
$primary_color_s: #e75e4e;

// 深色主色
$primary_color_d: #C2473B;

// 按钮通用色
$icon_color: #aaa;

$icon_color_nav: #c1c1c1;

// 边框通用色
$border_color: #eee;

// 输入框提示颜色
$placeholder_color: #ccc;

// 字体大小设置
// 登录input输入框文字大小
$f_auto_s: p2r(0.32rem);

// 登陆按钮文字 / 头部title文字大小
$f_auto_l: p2r(0.34rem);

// 底部菜单按钮下的小文字，最小的类型
$f_samll_s: p2r(0.2rem);

// 歌单列表名字下方的描述信息
$f_samll_m: p2r(0.26rem);


// ======================= 高度宽度
$auto_h: p2r(1rem);

$auto_padding_l_r: p2r(0.15rem);
$auto_padding_t_b: p2r(0.15rem);