@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g6to1x');
  src:  url('fonts/icomoon.eot?g6to1x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g6to1x') format('truetype'),
    url('fonts/icomoon.woff?g6to1x') format('woff'),
    url('fonts/icomoon.svg?g6to1x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-imgsetting:before {
  content: "\e939";
}
.icon-canclefullscreen:before {
  content: "\e932";
}
.icon-fullscreen:before {
  content: "\e933";
}
.icon-github:before {
  content: "\e936";
}
.icon-clown:before {
  content: "\e934";
}
.icon-smile:before {
  content: "\e935";
}
.icon-works:before {
  content: "\e937";
}
.icon-about:before {
  content: "\e938";
}
.icon-erji:before {
  content: "\e931";
}
.icon-date:before {
  content: "\e92e";
}
.icon-rank-list:before {
  content: "\e92f";
}
.icon-fm:before {
  content: "\e930";
}
.icon-list-circle-small:before {
  content: "\e92a";
}
.icon-download:before {
  content: "\e92b";
}
.icon-like:before {
  content: "\e92c";
}
.icon-msg:before {
  content: "\e92d";
}
.icon-playdetail:before {
  content: "\e925";
}
.icon-pause-detail:before {
  content: "\e926";
}
.icon-prevdetail:before {
  content: "\e927";
}
.icon-nextdetail:before {
  content: "\e928";
}
.icon-music-shunxu:before {
  content: "\e929";
}
.icon-back:before {
  content: "\e924";
}
.icon-edit-paper:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e91b";
}
.icon-delete:before {
  content: "\e923";
}
.icon-add-project:before {
  content: "\e913";
}
.icon-add:before {
  content: "\e921";
}
.icon-list-music:before {
  content: "\e91d";
}
.icon-night:before {
  content: "\e91e";
}
.icon-day:before {
  content: "\e91f";
}
.icon-community:before {
  content: "\e920";
}
.icon-wangyi:before {
  content: "\e90e";
}
.icon-share:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e910";
}
.icon-list-circle:before {
  content: "\e911";
}
.icon-setting:before {
  content: "\e914";
}
.icon-theme:before {
  content: "\e915";
}
.icon-friend:before {
  content: "\e916";
}
.icon-set-time:before {
  content: "\e917";
}
.icon-lock:before {
  content: "\e918";
}
.icon-car:before {
  content: "\e919";
}
.icon-cloud:before {
  content: "\e91a";
}
.icon-exit:before {
  content: "\e91c";
}
.icon-place:before {
  content: "\e909";
}
.icon-SHARE2:before {
  content: "\e90a";
}
.icon-zuijinplay:before {
  content: "\e90b";
}
.icon-diantai:before {
  content: "\e90c";
}
.icon-collect:before {
  content: "\e90d";
}
.icon-coin:before {
  content: "\e908";
}
.icon-market:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-message:before {
  content: "\e903";
}
.icon-music:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-vip:before {
  content: "\e906";
}
.icon-wangyiyun:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e912";
}
.icon-down:before {
  content: "\e922";
}
.icon-left:before {
  content: "\e940";
}
.icon-pause:before {
  content: "\e955";
}
.icon-right:before {
  content: "\e963";
}
.icon-up:before {
  content: "\e978";
}
.icon-music-danqu1:before {
  content: "\e94a";
}
.icon-music-random:before {
  content: "\e94b";
}
.icon-volume-medium:before {
  content: "\ea27";
}
