//********************App 
$primarycolor = #C62F2F
// $primarycolor = #303132
// router active状态下的颜色
$link_active = #ccafaf
// $link_active = #67A8CC
//一像素颜色
$border_1px = rgba(7, 17, 27, 0.1)
// 点击active的效果
$list_active = #d5d5d5

$rgba_active = rgba(0,0,0,0.1)

// 图标颜色
$icon_color = #999

$maskBackground = rgba(0,0,0,0.5)

//********************sideBar 
$sideBackground = rgba(0,0,0,0.5)
